@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }
    
    .App {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        transition: background-color 1s ease, color 1s ease;

        &.darkmode {
            background-color: rgb(12, 12, 12);
            color: rgb(227, 227, 227);

            .darkmode {
                background-color: #ffffff;
            }
        }

        .content {
            flex: 1;
            max-width: 1000px;
            width: 100%;
            margin: 1rem auto;
            padding: 1rem;
        }

        button {
            display: block;
            border: none;
            background: transparent;
            padding: 0;
            margin: 0;
            cursor: pointer;

            &.btn {
                padding: .5rem 1rem;
                border-radius: 5px;
            }

            &.primary {
                background-color: rgb(26, 88, 203);
                color: white;
            }

            &.danger {
                background-color: rgb(200, 22, 138);
                color: white;
            }
        }

    }
}