.UserProfile {
    width: 100%;
    .first {
        display: flex;
        gap: 3rem;
        width: 100%;

        .avatar {
            img {
                width: 200px;
                height: 200px;
                
                border: 2px solid purple;
                border-radius: 50%;
            }
        }

        .name {
            display: flex;
            align-items: end;
            gap: 2rem;

            font-size: 2rem;

            span {
                color: grey;
                
            }
        }
    }
}